//Backgrounds

$background-color:#f6f4f6;
$popup-color: #CCE4F5;
$header-color:#61707D;

$pagination-color:#596773;

$green-color:#82D9CF;
$blue-color:#88C1E7;
$dark-blue-color:#49516F;
$gray-color:#586A6A;

//Shadows

$button-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$form-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$table-shadow:0 10px 20px rgba(0, 0, 0, 0.19), 0px 2px 1px 0px rgb(0 0 0 / 11%);


//Buttons

$button-font-color:white;
$sil-buton-color:#FF1654;
$sil-buton-hover:#F50041;
$sil-buton-disabled:#FF4778;
$buton-border:none;

$tamam-buton-hover:#73D4C9;
$duzenle-buton-disabled:#adcce1;
$duzenle-buton-hover:#67AFE0;

$checkbox-background:#9593e3;

