@import "colors";
@import "properties";


body {
    background-color: $background-color;
    .container-fluid{
        
        .header{
            height: 13vh;
            position: absolute;
            margin-top: 92vh;

            .button-div{
            display: flex;
            gap: 1rem;
            position: fixed;
            height: 3.2rem;
            width: 100vw;
            background-color: $header-color;
            align-items: center;
            z-index: 6;
            .button-inner-div{
                width: 16vw;
                margin:auto;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                .sil-buton {
                    box-shadow: $button-shadow;
                    border-radius: $button-radius;
                    width: $button-width;
                    height: $button-height;
                    color: $button-font-color;
                    background-color: $sil-buton-color;
                    border: $buton-border;
                    z-index: 6;
                }
            
                .sil-buton:hover {
                    background-color: $sil-buton-hover;
                }
            
                .sil-buton:disabled {
                    background-color: $sil-buton-disabled;
                    z-index: 6;
                }
            
                .duzenle-buton {
                    box-shadow: $button-shadow;
                    border-radius: $button-radius;
                    width: $button-width;
                    height: $button-height;
                    color: $button-font-color;
                    background-color: $blue-color;
                    border: $buton-border;
                    z-index: 6;
                }
            
                .duzenle-buton:hover {
                    background-color: $duzenle-buton-hover;
                }
            
                .duzenle-buton:disabled {
                    background-color: $duzenle-buton-disabled;
                    z-index: 6;
                    }
                }

            }   
        }
        .outer-form-div{
            display: flex;
            justify-content: center;
            
            .form-div{
                display: grid;
                position: fixed;
                z-index: 4;
                background-color: $popup-color;
                height: 81vh;
                width: 37vw;
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
                border-radius: 16px;
                margin-top: 2rem;


                .close-button{
                    margin: 1rem;
                    margin-left: 26rem;
                    width: 2rem;
                    height: 2rem;
                    background-color: transparent;
                    border: none;
            
                }
                .close-button:focus{
                    box-shadow: none;
                }

                .form{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-evenly;
                    margin: auto;
                    margin-top: -2rem;
                    .form-input-div {
                        display: flex;
                        flex-direction: column;
                        margin: auto;
                        label{
                            margin-left: 1.1rem;
                        }
                        input[type="text"] {
                            width: 14rem;
                            margin: 1rem;
                            border-radius: 6px;
                            border: none;
                            box-shadow: $button-shadow;
                            padding: 4px;
                            padding-left: 12px;
                        }
                        input[type="number"] {
                            width: 14rem;
                            margin: 1rem;
                            border-radius: 6px;
                            border: none;
                            box-shadow: $button-shadow;
                            padding: 4px;
                            padding-left: 12px;
                        }
                    
                    }   
                    .input-completed {
                        display: flex;
                        flex-direction: row;
                        align-items: baseline;
                        label{
                            margin-left: -1.6rem;
                        }
                        

                        input[type="checkbox"]{
                            margin: 1rem;
                            border-radius: 6px;
                            border: none;
                            box-shadow: $button-shadow;
                            padding: 4px;
                            padding-left: 12px;
                            margin-left: 7rem;
                            box-shadow: none;
                        }
                        
                        input[type="checkbox"]:checked{
                            background-color: $checkbox-background;
                        }
                    }

                    .tamam-buton{
                        margin: auto;
                        margin-top: 2rem;
                        .tamam-butonu{
                            width: 8rem;
                            height: 2.3rem;
                            border-radius: $border-radius;
                            background-color: $green-color;
                            border: none;
                            box-shadow: $button-shadow;
                        }
                        .tamam-butonu:hover{
                            background-color: $tamam-buton-hover;
                        }
                    }
                }
            }
        }       
    }

        

        
    .form-row{
        margin: 3rem 7rem 8rem 7rem;
        box-shadow: $table-shadow;
        border-radius: 1rem;
        .container-fluid{
            position: absolute;
            width: 80vw;
            h2 {
                text-align: center;
                margin-top: 1rem;
                font-family: 'Times New Roman', Times, serif;
                font-size: 35px;
            }    
        }
    }
    .bootstrap-table {
        .fixed-table-toolbar {
            .float-right{
                margin-right: 0.4rem;
            }
            .form-control {
                border-radius: 2rem;
                z-index: 4;
                margin-top: 0.2rem;
            }
            
            .form-control:focus {
                box-shadow: none;
                border: 1px solid rgb(212, 212, 212);
            }
            
        }
            
        .fixed-table-container {
            border-radius: 1rem;
            
            .fixed-table-body {
                padding: 1rem 0.5rem 1rem 0.5rem;
            }
        }  
        .fixed-table-pagination{
            .pagination-detail{
            display: none;
            }
            .pagination{
                color: $pagination-color;
                .page-link {
                    z-index: 2;
                    color: $pagination-color;
                }
                .page-link:hover {
                    z-index: 2;
                    color: $pagination-color;
                }
                .page-link.active, .active>.page-link {
                    background-color: $pagination-color;
                    border-color: $pagination-color;
                    color: white;
                }
            }
        }        
    }      
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 2rem;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}